body{
  font-family:Monospace;
}
h2{
  height: 60;
}
p{
  
}
.wrapper{
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.made{
  width: 65%;
  flex-direction: column;
  align-content: space-between;
}

.written{
  width: 65%;
  flex-direction: column;
  align-content: space-between;
}

.about{
  width: 65%;
  flex-direction: column;
  align-content: space-between;
}

.divider{
  padding-top: 5px;
  border-top: 1px solid black;
}
.banner{
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
}

.left-column{
  width: 20%;
  padding-right: 20px;
}

.right-column{
  justify-content: space-between;
  flex-wrap: wrap;
}
